*{
 
}
body{
    background-image: url(img/grid.svg);
    background-position: center;  

    
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
      

    background-color: rgba(255, 165, 0, 0.15); 
}

.header{
    
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
      
    color:#b64809;
    font-size:20px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    letter-spacing: .02em;
    
}
.header p{
    padding-bottom: 10px;
}
.header p:hover{
    color: #853304;
}
.nav-resume-design{
    display: flex;
    align-items: center;
    gap:50px;
    padding-right: 50px;
}

.header_nav-link{
    text-decoration: none;
    display: inline-block;
    position: relative;
    color:#b64809;
    padding-bottom: 10px;
    
    
}
.header_nav-link:hover{
    border-bottom: 2px solid black;
    color:#853304;
}


.hero{
    /* height: 100vh; */
    display: flex;
    padding-top: 50px;
    padding-bottom: 550px;
}
.left-section-hero{
    /* background-color: yellow; */
    /* height: 100%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 200px;
    padding-left: 50px;
    position: relative;
    
}
.right-section-hero{
    /* background-color: blue; */
    height: 100%;
    width: 50%;
    position: relative;

}
.stuff-done{
    /* height: 800px; */
    max-width: 650px;
    background-color: #fcf6e8;
    display: flex;
    flex-direction: column;
    border-right: 8px solid #853304;
    border-bottom: 8px solid #853304;
    border-left: 4px solid #853304;
    border-top: 4px solid #853304;
    border-radius: 15px;
    font-size:20px;
    
    

    

}